.idea/*
.env
.ipynb_checkpoints/*
.coverage
tests/.coverage
/tests/logs/*
__pycache__/*
.DS_Store
data_vortex/__pycache__/*
data_vortex/utils/__pycache__/*
tests/__pycache__/*
/data_vortex/logs/*
/logs/*
vortex.db
/notebooks/.ipynb_checkpoints/rightmove-checkpoint.ipynb
data/*
raw_data/*
